@model List<GroupTaskManager.GroupTaskManager.Models.UserFindResult>

@{
    ViewData["Title"] = "Result searching users";
}

@section Styles {
    <link rel="stylesheet" href="~/css/mygroupsusers.css" />
}


<div class="main">
    <h1>Result Searching Users</h1>

    <div class="user-list">
        @foreach (var user in Model)
        {
            <div class="user-item">
                <p class="user-info"> @user.Firstname @user.Lastname - @user.Email</p>
                <form id="add-user-form" method="post" asp-action="AddUser" asp-controller="Group">
                    <input type="hidden" name="Id_Group" value="@ViewBag.Id_Group" />
                    <input type="hidden" name="Id_newuser" value="@user.Id" />
                    <button type="submit" class="btn-add">Add User</button>
                </form>
            </div>
        }
    </div>
</div>
